<!-- ckeditor -->
<script src="../../../public/build/ckeditor.js"></script>
<style>
   .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
      border-color: var(--ck-color-base-border);
      height: 40%;
   }

   .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
      height: 400px;
   }

   .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
      height: 400px;
   }
</style>

         <div class="col-xs-6">
            <!-- HTML5 Inputs -->
            <div class="card mb-4">
               <h5 class="card-header"><%if(crewDiv=="all"){%>총동창회<%}else if (crewDiv == "gf"){%>골프회<%}
                                       else if (crewDiv == "mt"){%>산악회<%}%> 후원 등록</h5>
               <div class="card-body">
                     <!-- 컨텐츠 -->
                     <form action="" id="bannerwrite" method="post" enctype="multipart/form-data" autocomplete="off">
                        <input type="hidden" id="writContent" name="writContent" value="">
                        <input type="hidden" id="crewDiv" name="crewDiv" value="<%=crewDiv%>">
                        <div class="mb-3 row">
                           <label class="col-md-1 col-form-label primary" for="text-input">* 후원업체명</label>
                           <div class="col-md-10">
                              <input class="form-control" id="writTitle" type="text" name="bannerTitle" value="" maxlength="30" >
                           </div>
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-1 col-form-label primary" for="text-input">* 업체세부내용</label>
                           <div class="col-md-10">
                              <textarea name="bannerDetail" class="editor" id="editor"></textarea>
                           </div>
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-1 col-form-label" for="text-input">사이트</label>
                           <div class="col-md-10">
                              <input class="form-control" id="bannerUrl" type="text" name="bannerUrl" value="" maxlength="200" >
                           </div>
                        </div>
                        <div class="mb-3 row">
                           <label class="col-md-1 col-form-label">첨부파일</label>
                           <div class="col-md-10" style="display: flex; flex-direction: column; gap: 25px; padding-left: 15px">
                              <input class="form-control" type="file" id="file" name="file">
                              <input class="form-control" type="file" id="file" name="file" />
                              <input class="form-control" type="file" id="file" name="file" />
                              <input class="form-control" type="file" id="file" name="file" />
                              <input class="form-control" type="file" id="file" name="file" />
                           </div>
                           
                        </div>
                        <!--option 버튼  -->
                        <div class="demo-inline-spacing" >
                           <button type="button" class="btn btn-primary" id="enroll_btn">등록</button>
                           <button type="button" class="btn btn-danger"
                              onclick="history.go(-1)">취소</button>
                        </div>
                     </div>

                  </form>
               </div>
            </div>
         </div>

<script type="text/javascript">
       // 레이아웃 adminNav 해당 탭에 접근했을때 펼쳐주기 
    var menuItem = document.getElementsByClassName("menu-item");
    var crewDiv = document.getElementById("crewDiv").value;
    //초기화
    menuItem.className = 'menu-item';
    //'[2] = 게시판관리' '[3] = 공지사항' '[4] = 갤러리' '[5] = 경조사'
    //'[10] = 골프회' '[11] = 공지사항' '[12] = 갤러리'
    //'[17] = 산악회' '[18] = 공지사항' '[19] = 갤러리'
    if(crewDiv == 'all'){
        menuItem[8].className += ' open active';
    } else if (crewDiv == 'gf'){
        menuItem[14].className += ' open active';
    } else if (crewDiv == 'mt'){
        menuItem[20].className += ' open active';
    }
    
   $(document).ready(function () {
      //ckeditor
      ClassicEditor
         .create(document.querySelector('#editor'), {
            language: 'ko'
         })
         .then(newEditor => {
            editor = newEditor;
         })
         .catch(error => {
            console.error(error);
         });

      $("#enroll_btn").click(function () {
         // const aa = Array.from(editor.ui.componentFactory.names());
         // console.log(aa);
         var writTitle = $("#writTitle").val();
         // var content = $("#content").val();
         // $('input[name=inputNm]').attr('value',goContent);
         var content = editor.getData();
         // console.log(content);

         if (writTitle == "") {
            alert("후원업체명을 입력하세요.");
            $("#writTitle").focus();
            return false;
         }

         if (content == "") {
            alert("업체세부내용을 입력하세요.");
            $("#editor").focus();
            return false;
         }
         var convertContent = content.replace(/(<([^>]+)>)/ig,"");
			if (convertContent.length > 3000) {
				alert("입력 메세지는 3000자를 초과할 수 없습니다.");
				return false;
			}

         if (confirm("등록하시겠습니까?") == true) {
            $('input[name=writContent]').attr('value', content);
            $("#bannerwrite").attr("action", "bannerInsert");
            $("#bannerwrite").submit();
         } else {
            return;
         }
      });

      //쿼리스트링값 가져와서 넘기기
      // function getUrlParams() {
      //    var params = {};
      //    window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (str, key, value) {
      //       params[key] = value;
      //    });
      //    return params;
      // }
      // var param = getUrlParams();
      // var uid = document.getElementById("uid");
      // uid.value = param.uid;
      // var bannerId = document.getElementById("bannerId");
      // bannerId.value = param.bannerId;
   });
</script>
