<div class="col-xs-6">
   <!-- HTML5 Inputs -->
   <div class="card mb-4">
      <h5 class="card-header">회원 등록</h5>
      <div class="card-body">
         <form name="enrollForm" role="form">
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">프로필</label>
               <div class="col-md-10">
                  <input class="form-control" type="file" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">첨부파일</label>
               <div class="col-md-10">
                  <input class="form-control" type="file" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">회원명</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userName" name="userName" placeholder="ex) 홍길동" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">휴대번호</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userPhone" name="userPhone" placeholder="ex) 01011112222" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">이메일</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userEmail" name="userEmail" placeholder="ex) abcd@naver.com" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">전화번호</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="officePhone" name="officePhone" placeholder="ex) 01011112222" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">주소</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userAdres" name="userAdres" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">상세주소</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userAdres4" name="userAdres4" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">기수</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userNum" name="userNum" placeholder="ex) 06기" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">직책</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userAuth" name="userAuth" placeholder="ex) 회장, 상임부회장, 이사..." />
               </div>
            </div>
            
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">홈페이지</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userUrl" name="userUrl" placeholder="ex) https://www.naver.com" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">소속</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="userJob" name="userJob" placeholder="ex) XX 회사 대표" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">팩스</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="faxPhone" name="faxPhone" />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">동아리</label>
               <div class="col-md-10">
                  <div class="col-md">
                     <div class="form-check form-check-inline mt-3">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                        <label class="form-check-label" for="inlineCheckbox1">골프회</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                        <label class="form-check-label" for="inlineCheckbox2">산악회</label>
                     </div>
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                        <label class="form-check-label" for="inlineCheckbox2">골프회 및 산악회</label>
                     </div>
                  </div>
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">골프회 직책</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="" name="" placeholder="ex) 회장, 사무국장..." />
               </div>
            </div>
            <div class="mb-3 row">
               <label for="html5-text-input" class="col-md-2 col-form-label">산악회 직책</label>
               <div class="col-md-10">
                  <input class="form-control" type="text" value="" id="" name="" placeholder="ex) 회장, 사무국장..." />
               </div>
            </div>
            <div class="demo-inline-spacing">
               <button type="button" class="btn btn-outline-info" id="update_btn">등록</button>
               <button type="button" class="btn btn-outline-primary" onclick="history.go(-1)">취소</button>
            </div>
         </form>
      </div>
   </div>

   <script type="text/javascript">
      var formObj = $("form[name='udtForm']");
      $(document).ready(function () {
         // 수정 폼 연결
         $("#update_btn").on("click", function () {
            formObj.attr("action", "userUdtForm");
            formObj.attr("method", "post");
            formObj.submit();
         });
         // 삭제
         $("#delete_btn").on("click", function () {
            formObj.attr("action", "oneUserDelete");
            formObj.attr("method", "get");
            if (confirm("회원을 삭제하시겠습니까?") == true) {
               formObj.submit();
            } else {
               return;
            }
         });
      })
   </script>