<!-- ckeditor -->
<script src="../../../public/build/ckeditor.js"></script>
<!--주소api-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    window.onload = function () {
        document.getElementById("address_kakao").addEventListener("click", function () {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분입니다.
                    // 예제를 참고하여 다양한 활용법을 확인해 보세요.
                    document.getElementById("address_kakao").value = data.address; // 주소 넣기
                    document.querySelector("input[id=address_detail]").focus(); //상세입력 포커싱
                }
            }).open();
        });
    }
</script>
<style>
    .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
        border-color: var(--ck-color-base-border);
        height: 40%;
    }

    .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
        height: 400px;
    }

    .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) {
        height: 400px;
    }
</style>
<div class="col-xs-6">
    <!-- HTML5 Inputs -->
    <div class="card mb-4">
        <% if(crewDiv == 'all') { %>
        <h5 class="card-header">총동창회 행사 등록</h5>
        <% } else if(crewDiv == 'gf') { %>
        <h5 class="card-header">골프회 행사 등록</h5>
        <% } else { %>
        <h5 class="card-header">산악회 행사 등록</h5>
        <% } %>
        <div class="card-body">
            <form id="eventEnrollForm" name="eventEnrollForm" role="form" enctype="multipart/form-data" method="post">
                <input type="hidden" id="crewDiv" name="crewDiv" value="<%= crewDiv %>" />
                <input type="hidden" id="eventContent" name="eventContent" value="" />
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">행사 제목</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="eventTitle" name="eventTitle" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">행사 내용</label>
                    <div class="col-md-10">
                        <textarea name="editor" class="editor" id="editor"></textarea>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">행사 일시</label>
                    <div class="col-md-10">
                        <input class="form-control" id="eventDate" type="datetime-local" name="eventDate" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">행사 위치</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="address_kakao" name="eventAdres" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">행사 상세 위치</label>
                    <div class="col-md-10">
                        <input class="form-control" type="text" value="" id="address_detail" name="eventAdresDetail"
                            placeholder="상세주소를 입력해주세요" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">투표 시작 일자</label>
                    <div class="col-md-10">
                        <input class="form-control" id="voteStartDate" type="date" name="voteStartDate" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">투표 마감 일자</label>
                    <div class="col-md-10">
                        <input class="form-control" id="voteEndDate" type="date" name="voteEndDate" value="">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">투표 대상 1</label>
                    <div class="col-md-10">
                        <select class="dropdown" name="eventTarget1">
                            <option value="전체">전체</option>
                            <option value="임원">임원</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">투표 대상 2</label>
                    <div class="col-md-10">
                        <select class="dropdown" name="eventTarget2">
                            <option value="전체">전체</option>
                            <option value="동구">동구</option>
                            <option value="서구">서구</option>
                            <option value="남구">남구</option>
                            <option value="북구">북구</option>
                            <option value="중구">중구</option>
                            <option value="수성구">수성구</option>
                            <option value="달서구">달서구</option>
                            <option value="달성군">달성군</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">대표 이미지</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file" id="file" name="file" />
                    </div>
                </div>
                <!-- <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">노출</label>
                    <div class="col-md">
                        <div class="form-check form-check-inline mt-3">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="userCrew1" value="option1" />
                            <label class="form-check-label" for="inlineCheckbox1">총동창회</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="userCrew1" value="option2" />
                            <label class="form-check-label" for="inlineCheckbox2">골프회</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="userCrew1" value="option2" />
                            <label class="form-check-label" for="inlineCheckbox2">산악회</label>
                        </div>
                        <input class="btn rounded-pill btn-info" type="button" value="선택취소" onclick="test()">
                    </div>
                </div> -->
            <!--<div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">첨부파일2</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file" id="file" name="file" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">첨부파일3</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file" id="file" name="file" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">첨부파일4</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file" id="file" name="file" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="html5-text-input" class="col-md-2 col-form-label">첨부파일5</label>
                    <div class="col-md-10">
                        <input class="form-control" type="file" id="file" name="file" />
                    </div>
                </div> -->
                <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-primary" id="enroll_btn">등록</button>
                    <button type="button" class="btn btn-danger" onclick="history.go(-1)">취소</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            //확장자 체크
            $("input:file[name='file']").change(function () {
                var str = $(this).val();
                var fileName = str.split('\\').pop().toLowerCase();
                // alert(fileName);
                checkFileName(fileName);
            });
        });

        //확장자 체크
        function checkFileName(str) {
            var ext = str.split('.').pop().toLowerCase();
            // alert(ext);
            if ($.inArray(ext, ['jpg', 'png', 'jpeg', 'gif']) == -1) {
                alert(ext + '파일은 업로드 하실 수 없습니다.');
                $("input:file[name='file']").val("");
            }
        }

        //ckeditor
        ClassicEditor
            .create(document.querySelector('#editor'), {
                language: 'ko'
            })
            .then(newEditor => {
                editor = newEditor;
            })
            .catch(error => {
                console.error(error);
            });

        $("#enroll_btn").click(function () {
            const eventTitle = $("#eventTitle").val();
            const content = editor.getData();
            const eventPlace = $("#address_kakao").val();
            const eventDate = $("#eventDate").val();

            if (eventTitle == "") {
                alert("제목을 입력하세요.");
                $("#referTitle").focus();
                return false;
            }
            if (content == "") {
                alert("내용을 입력하세요.");
                $("#editor").focus();
                return false;
            }
            if (eventDate == "") {
                alert("행사일을 입력하세요.");
                $("#eventDate").focus();
                return false;
            }
            if (eventPlace == "") {
                alert("장소를 입력하세요.");
                return false;
            }

            if (confirm("등록하시겠습니까?") == true) {
                $('input[name=eventContent]').attr('value', content);
                $("#eventEnrollForm").attr("action", "/admin/m_event/eventWrite");
                $("#eventEnrollForm").submit();
            } else {
                return;
            }
        });

        //라디오 버튼 선택 해제
        // function test() {
        //     var park = document.getElementsByName("userCrew1");
        //     for (var i = 0; park.length; i++) {
        //         if (park[i].checked) {
        //             park[i].checked = false;
        //         }
        //     }
        // }
    </script>